.product {
  border-style: solid;
  border-width: 1px;
  display: flex;
}

.product div {
  margin: auto 0px;
}

.product div img {
  width: 128px;
  height: 128px;
  object-fit: contain;
  padding: 16px;
}

.product-description {
  padding: 16px;
}

.product-description h3 {
  margin-top: 0px;
}

.product-list {
  border-style: solid;
  border-width: 1px;
}

.magic-balls {
  width: 400px;
  margin: 16px;
}
