.product {
  border-style: solid;
  display: flex;
}

.product div {
  margin: auto 0px;
}

.product div img {
  width: 128px;
  height: 128px;
  object-fit: contain;
  padding: 16px;
}

.product-description {
  padding: 16px;
}
